* {
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  background-color: #191919;
  font-family: "Courier New", Courier, monospace;
}

table {
  width: 100%;
  color: #f0f3f6;
  border-collapse: collapse;
  margin: 5px 0px;
}

td {
  width: 50%;
  font-size: 1.25rem;
  padding: 5px;
}

thead td {
  font-weight: 600;
}

.details {
  padding: 20px;
  color: #f0f3f6;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.text {
  font-size: 1.25rem;
}

.author {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.info-heading {
  color: #f0f3f6;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.info-container {
  padding: 10px 50px;
  color: #f0f3f6;
  width: 50%;
  margin: auto;
}

.time-section {
  width: 70%;
  margin: 0px auto;
}

.note {
  text-align: center;
}

.container {
  width: 100%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet {
  border: 5px dotted gray;
  border-radius: 50%;
  position: absolute;
}

.sun {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(yellow, orange);
  border: none;
}

.mercury {
  width: 150px;
  height: 150px;
}

.venus {
  width: 250px;
  height: 250px;
}

.earth {
  width: 350px;
  height: 350px;
}

.mars {
  width: 450px;
  height: 450px;
}

.jupiter {
  width: 650px;
  height: 650px;
}

.saturn {
  width: 850px;
  height: 850px;
}

.uranus {
  width: 1000px;
  height: 1000px;
}

.neptune {
  width: 1200px;
  height: 1200px;
}

.planet-itself {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.planet-1 {
  width: calc(0.38 * 40px);
  height: calc(0.38 * 40px);
  background-image: url("images/mercury.gif");
  animation-name: mercury;
  animation-duration: 1200ms;
  left: 43%;
  top: 43%;
}

.planet-2 {
  width: calc(0.95 * 40px);
  height: calc(0.95 * 40px);
  background-image: url("images/venus.png");
  animation-name: venus;
  animation-duration: 3080ms;
  left: 44%;
  top: 45%;
}

.planet-3 {
  width: 40px;
  height: 40px;
  background-image: url("images/earth.png");
  animation-name: earth;
  animation-duration: 5s;
  left: 44%;
  top: 45%;
}

.planet-4 {
  width: calc(0.53 * 40px);
  height: calc(0.53 * 40px);
  background-image: url("images/mars.png");
  animation-name: mars;
  animation-duration: 9.4s;
  left: 48%;
  top: 47%;
}

.planet-5 {
  width: calc(2.24 * 40px);
  height: calc(2.24 * 40px);
  background-image: url("images/jupiter.gif");
  animation-name: jupiter;
  animation-duration: 59.3s;
  left: 44%;
  top: 42%;
}

.planet-6 {
  width: calc(1.89 * 40px);
  height: calc(1.89 * 40px);
  background-image: url("images/saturn.png");
  animation-name: saturn;
  animation-duration: 147.3s;
  left: 45%;
  top: 46%;
}

.planet-7 {
  width: calc(0.8 * 40px);
  height: calc(0.8 * 40px);
  background-image: url("images/uranus.gif");
  animation-name: uranus;
  animation-duration: 420s;
  left: 48%;
  top: 48%;
}

.planet-8 {
  width: calc(0.77 * 40px);
  height: calc(0.77 * 40px);
  background-image: url("images/neptune.gif");
  animation-name: neptune;
  animation-duration: 823.95s;
  left: 49%;
  top: 49%;
}

@keyframes mercury {
  0% {
    transform: rotate(0deg) translateX(75px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateX(75px) rotate(-360deg);
  }
}

@keyframes venus {
  0% {
    transform: rotate(0deg) translateX(125px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateX(125px) rotate(-360deg);
  }
}

@keyframes earth {
  0% {
    transform: rotate(0deg) translateX(175px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateX(175px) rotate(-360deg);
  }
}

@keyframes mars {
  0% {
    transform: rotate(0deg) translateX(225px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateX(225px) rotate(-360deg);
  }
}

@keyframes jupiter {
  0% {
    transform: rotate(0deg) translateX(325px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateX(325px) rotate(-360deg);
  }
}

@keyframes saturn {
  0% {
    transform: rotate(0deg) translateX(425px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateX(425px) rotate(-360deg);
  }
}

@keyframes uranus {
  0% {
    transform: rotate(0deg) translateX(500px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateX(500px) rotate(-360deg);
  }
}

@keyframes neptune {
  0% {
    transform: rotate(0deg) translateX(600px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateX(600px) rotate(-360deg);
  }
}
